header {
    text-align: right;
    font-size: 3em;
    color: white;
    background: rgba(10, 10, 10, 0.692);
    margin: 0%;
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
    font-weight: bold;
}
footer {
    background-color: black;
    position: sticky;
    font-size: 1em;
    color: white;
    text-align: right;
    padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
    font-weight: bold;
}
#navigation {
    position: sticky;
    top: 0%;
    z-index: 1px;

}
.menu {
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
.menu li a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
}

.menu li {
    padding: 10px;
    display: inline-block;
}
.menu li :hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.menu li:nth-child(2):hover #DD_1,
.menu li:nth-child(3):hover #DD_2 {
    display: block;
}

#DD_1,
#DD_2 {
    position: absolute;
    width: auto;
    max-width: 150px;
    display: none;
    margin-top: 40px;
    background-color: whitesmoke;
    padding: 0%;
    color: rgba(11, 145, 235, 0.473);
}

#DD_1 li,
#DD_2 li {
    display: block;
}
#DD_1 li:hover,
#DD_1 li:hover {
    background-color: aqua;
}
 .footer {
    
margin-top: 90%;
width: 100%;
    
}
section {
    border: blue 2px solid;
    height: 400px;
}
.slider {
    margin: 20px;
    border: 2px solid slateblue;
    background: url(ani1.jpg);
    margin: 20px;
    position: sticky;
    width: auto;
    height: 400px;
    
    animation-name: slide;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                
}
@keyframes slide {
    20%{
        background: url(ani1.jpg);
        width: 100%;
    }
    40%{
        background: url(ani2.png);
    }
    60%{
        background: url(ani3.jpg);
    }
    80%{
        background: url(ani4.jpg);
    }
    100%{
        background: url(ani5.jpg);
    }
}


input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}



.items {
    border: 1px solid black;
    background: white;
    max-width: 100%;
    max-height: 100%;
}

.items :nth-child(3),  .items :nth-child(4) {
    color: blue;
    font-size: 1.2rem;
}
.items :hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:300px;
    height:auto;
    display:block;
    z-index:999;
}



tr {
    height: 100%;
}
td {

    width: 25%;
}
.cart {
    color: orange;
    font-size: 1.2em;
    height: auto;
    background-color: rgba(133, 133, 133, .1);
    border-radius: 10px;
    border: black 2px solid;
    margin: auto;
    display: block;
    width: auto;
}

.itemscontainer {
    border: black 2px solid;
}
.cart :active {
    background-color: rgb(250, 234, 230)   blue;
    border: rgb(0, 255, 76) solid 2px;
}